<h2>My Questions </h2>
<br/>
<%= link_to "Add Question", new_question_path, class: "btn btn-primary" %>
<br/><br/>
<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th>No.</th>
      <th>Title</th>
      <th>Description</th>
      <th>Topic</th>
      <th>Asked By User</th>
    </tr>
  </thead>
  <tbody>
    <% if @questions.present? %>
      <% @questions.each_with_index do |question, index| %>
        <tr>
          <td><%= index + 1 %>
          <td><%= question&.title %></td>
          <td><%= question&.description %></td>
          <td><%= question&.topic&.title %></td>
          <td><%= question&.user&.email %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>